@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-teal-500: #003b5c;
}

body {
  font-family: Montserrat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.parallax-one {
  opacity: 1;
}

.transition-opacity {
  opacity: 0.5;
  transition: opacity 2s;
}

.bg-map {
  background: rgb(0, 45, 79);
  opacity: 1 !important;
  transition: all 1s;
}

.section-four__header {
  background-image: linear-gradient(
    270deg,
    rgba(222, 233, 238, 0) 0%,
    rgba(222, 233, 238, 1) 100%
  );
  background-position: center center;
  border-radius: 10px;
}

.section-four__header-two {
  background-image: linear-gradient(
    90deg,
    rgba(222, 233, 238, 0) 0%,
    rgba(222, 233, 238, 1) 100%
  );
  background-position: center center;
  border-radius: 10px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.parallax {
  /* The image used */
  /* background-image: url("img_parallax.jpg"); */

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-bg {
  background: transparent !important;
  transition: all 1s;
}

.simplify-container {
  background: rgba(0, 24, 53, 0);
  transition: all 1s;
}

.simplify-fade-in {
  background: rgba(0, 24, 53, 0.75);
}
